<footer class="footer">
  <div class="container">
    <p class="footer__copyright">&copy; Copyright 2017 Michael Spencer.</p>

    <p>
      <a class="footer__contact-button footer__contact-button--github"
         href="https://github.com/{{ links.github }}" target="_blank"><i class="mdi mdi-github-circle"></i></a>
      <a class="footer__contact-button footer__contact-button--twitter"
         href="https://twitter.com/{{ links.twitter }}" target="_blank"><i class="mdi mdi-twitter"></i></a>
      <a class="footer__contact-button footer__contact-button--google-plus"
         href="https://plus.google.com/+{{ links.googlePlus }}" target="_blank"><i class="mdi mdi-google-plus"></i></a>
      <a class="footer__contact-button footer__contact-button--email"
         href="mailto:{{ links.email }}" target="_blank"><i class="mdi mdi-email"></i></a>
      <a class="footer__contact-button footer__contact-button--rss"
         href="/feed.xml" target="_blank"><i class="mdi mdi-rss"></i></a>
    </p>

    <p>
      <a class="footer__report" href="https://github.com/{{ links.repository }}/issues" target="_blank">
        <i class="mdi mdi-bug"></i> Report an Issue
      </a>
    </p>
  </div>
</footer>
