{% if posts.length == 0 %}
  <span>No posts yet.</span>
{% else %}
  <section class="posts-list">
    {% for post in posts %}
      <a class="post-item" href={{ post.path }}>
        <article>
          <header>
            {% if post.hero %}
              <img class="post-item__hero" src="{{ post.hero }}"/>
            {% endif %}
            <div class="post-item__meta">
              <time datetime="{{ post.date|iso_date }}">{{ post.date|date }}</time> • <span>{{ post.readTime }}</span>
            </div>
            <h3 class="post-item__title" href="{{ post.path }}">{{ post.title }}</h3>
          </header>

          <div class="post-item__description">
            {{ post.excerpt }}
          </div>

          {% if post.tags %}
            <footer class="post-item__tags">
              {% for tag in post.tags %}
                <span class="tag" href="/blog/topic/{{ tag.slug }}">
                  <i class="mdi mdi-tag"></i>
                  {{ tag.name }}
                </span>
              {% endfor %}
            </footer>
          {% endif %}
        </article>
      </a>
    {% endfor %}
  </section>
{% endif %}
