{% if posts.length == 0 %}
  <span>No posts yet.</span>
{% else %}
  <ul class="posts-list {% if latestPosts %}posts-list--latest{% endif %}">
    {% for post in posts %}
      <li class="post-item">
        <a class="post-item__title" href="{{ post.path }}">{{ post.title }}</a>
        <div class="post-item__meta">
          <time datetime="{{ post.date|iso_date }}">{{ post.date|date }}</time> • <span>{{ post.readTime }}</span>
        </div>
        <div class="post-item__content">
          <div class="post-item__description">
            {{ post.excerpt }}
          </div>

          {% if post.hero %}
          <img class="post-item__hero" src="{{ post.hero }}"/>
          {% endif %}
        </div>
        <a class="post-item__read-more" href="{{ post.path }}">
          Read More →
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
