$bio-padding: 3rem;

.page-home {
  background: $color-background;

  .navbar:not(.navbar--floating) {
    color: $color-text-dark;

    .navbar__link {
      &:hover,
      &:focus {
        border-bottom-color: $color-subtext-dark;
      }

      &--active {
        border-bottom-color: $color-subtext-dark;
      }

      &--title {
        display: none;
      }
    }
  }

  .page-content {
    padding-bottom: 0;
  }

  &__content {
    @extend .container;
    padding-top: 1rem;

    display: flex;
  }

  &__latest {
    flex-basis: 66%;

    h2 {
      margin-bottom: 0;
    }
  }

  &__topics {
    flex-basis: 33%;
    padding-left: 32px;

    .tag {
      margin-bottom: 8px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
}

.bio {
  background: #292C33;
  margin-top: -$navbar-height;
  padding-top: $bio-padding;
  padding-bottom: $bio-padding;
  text-align: center;
  color: $color-text-dark;

  img {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-family: $font-bio-title;
    margin-bottom: 0;
    font-size: 1.9rem;
  }

  h2 {
    color: $color-subtext-dark;
    font-family: $font-body;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0;
  }
}
