$bio-padding: 2rem;

.page-home {
  .navbar {
    color: $color-text-dark;
  }

  .navbar__link {
    &:hover,
    &:focus {
      border-bottom-color: $color-subtext-dark;
    }

    &--active {
      border-bottom-color: $color-subtext-dark;
    }
  }
}

.bio {
  background: #292C33;
  margin-top: -$top-padding;
  padding-top: $navbar-height + $bio-padding;
  padding-bottom: $bio-padding;
  text-align: center;
  color: $color-text-dark;

  img {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-family: $font-bio-title;
    margin-bottom: 0;
  }

  h2 {
    color: $color-subtext-dark;
    font-weight: 300;
    font-size: 21px;
    margin-top: 0;
  }
}
