.bio {
  margin-top: 32px;
  text-align: center;

  img {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-family: $font-bio-title;
    margin-bottom: 0;
  }

  h2 {
    color: $color-subtext;
    font-weight: 300;
    font-size: 21px;
    margin-top: 0;
  }
}
