.post {
  margin-bottom: 2rem;

  header {
    margin-bottom: 0.5rem;

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__comments {
    margin-bottom: 1rem;
  }

  &__info {
    color: $color-meta;
    font-size: 0.9rem;
  }

  &__hero {
    margin-top: 0.5rem;
  }

  &__tags {
    color: $color-subtext;
    margin-bottom: 1rem;
  }
}
