.post {
  margin-bottom: 2rem;

  header {
    margin-bottom: 0.5rem;

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  footer {
    margin-top: 2rem;
  }

  &__info {
    opacity: 0.6;
    font-size: 0.9rem;
  }

  &__hero {
    margin-top: 0.5rem;
  }

  &__tags {
    color: $color-subtext;
  }
}
