.page-topic {
  background: $color-background;

  h6 {
    margin-bottom: 0;
    color: $color-subtext;
    font-family: $font-body;
    font-weight: 300;
    text-transform: uppercase;
  }

  h2 {
    margin-top: 0.25rem;
  }
}
