.page-topic {
  background: $color-background;

  &__content {
    @extend .container;
    display: flex;
  }

  &__latest {
    flex-basis: 66%;

    h6 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0.25rem;
      margin-bottom: 0;
    }
  }

  &__topics {
    h2 {
      margin-top: 2.25rem;
    }

    flex-basis: 33%;
    padding-left: 32px;

    .tag {
      margin-bottom: 8px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
}
