.posts-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;

  &--latest {
    text-align: center;
  }
}

.post-item {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem 0;

  &__title {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: $font-header;
    text-decoration: none;
    border-bottom: none;
    margin-bottom: 0.5rem;
  }

  &__meta {
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.2rem;
  }

  &__description {
    // font-size: 0.9rem;
  }

  &__read-more {
    @extend .button;
    @extend .button---primary;
    align-self: flex-start;
    display: inline-flex;
    margin-top: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none !important;
  }
}
