.posts-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;

  &--latest {
  }
}

.post-item {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 1rem auto;

  &__title {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: $font-header;
    text-decoration: none;
    border-bottom: none;
    margin-bottom: 0.5rem;
  }

  &__meta {
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 0.2rem;
  }

  &__content {
    display: flex;
  }

  &__description {
    flex-grow: 1;
  }

  &__hero {
    border-radius: 3px;
  }

  &__read-more {
    @extend .button;
    @extend .button---primary;
    align-self: flex-start;
    display: inline-flex;
    margin-top: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none !important;
  }
}

@media (max-width: 600px) {
  .post-item {
    &__content {
      flex-direction: column;
    }

    &__hero {
      margin-top: 16px;
      max-width: 100%;
    }
  }

  .posts-list--latest {
    .post-item__hero {
      display: none;
    }
  }
}

@media (min-width: 601px) {
  .post-item {
    &__hero {
      align-self: flex-start;
      margin-left: 16px;
      max-width: 150px;
    }
  }
}
