<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="{{ site.url }}{{ path }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta name="twitter:domain" value="{{ site.url }}" />
  <meta name="twitter:site" value="@{{ links.twitter }}" />

  <title>{% block title %}{{ title }}{% endblock %}</title>

  <link href="//fonts.googleapis.com/css?family=Lato:300,400|Roboto:400,700|Pacifico" rel="stylesheet">
  <link href="//cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  {% block head %}
  {% endblock %}

</head>
<body class="{{ bodyClass }}">

  {% include "partials/header.njk" %}

  <div class="page-content">
    {% block body %}
      <div class="container">
        <article class="post">
          <header>
            <h1>{{ title }}</h1>
          </header>

          {% if hero %}
            <img class="post__hero" src="{{ hero }}"/>
          {% endif %}

          <section class="post__content">
            {{ contents|safe }}
          </section>
        </article>
      </div>
    {% endblock %}
  </div>

  {% include "partials/footer.njk" %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="/js/scripts.js"></script>

  {% if NODE_ENV != "production" %}
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}

  {% block scripts %}{% endblock %}

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-47662876-5', 'auto');


    ga('require', 'cleanUrlTracker', { stripQuery: true, indexFilename: 'index.html', trailingSlash: 'append' });
    // ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'pageVisibilityTracker');

    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

</body>
</html>
