{% extends "layouts/default.njk" %}

{% set bodyClass = "page-post" %}

{% block body %}
<div class="container">
  <article class="post">
    <header>
      <h2>{{ title }}</h2>
      <div class="post__info">
        <time>{{ date|date }}</time> • <span>{{ readTime }}</span>
      </div>
    </header>
    <section>
      {{ contents|safe }}
    </section>
  </article>
</div>
{% endblock %}
