.footer {
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 100;
}

.contact .button {
  margin-right: 8px;
}

.contact .button:last-child {
  margin-right: 0;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #333;
  font-size: 20px;
  width: 32px;
  height: 32px;
}

.github {
  color: #323234;
  border-color: #323234;
}

.twitter {
  color: #00aced;
  border-color: #00aced;
}

.googlePlus {
  color: #dc4e41;
  border-color: #dc4e41;
}

.email {
  color: #fbbd08;
  border-color: #fbbd08;
}
