@define-mixin icon-button $color {
  &:hover, &:active {
    color: $color;
    border-color: $color;
    background: color($color alpha(-90%));
  }

  &:active {
    background: color($color alpha(-75%));
  }
}

.footer {
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  font-weight: 100;
}

.contact .button {
  margin-right: 8px;
}

.contact .button:last-child {
  margin-right: 0;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #888;
  color: #888;
  font-size: 20px;
  width: 32px;
  height: 32px;

  transition: all 0.4s;
}

.github {
  @mixin icon-button #323234;
}

.twitter {
  @mixin icon-button #00aced;
}

.googlePlus {
  @mixin icon-button #dc4e41;
}

.email {
  @mixin icon-button #fbbd08;
}

.rss {
  @mixin icon-button #ee802f;
}
